<nav data-spy='affix' id='main'>
      <div class='logo'>
        Glas
      </div>
      <ul>
        <li>
          <%= link_to "Home", controller: "pages", action: "home", anchor: "home" %>
        </li>

        <li>
            <%= link_to "Acerca", controller: "pages", action: "home", anchor: "about" %>
        </li>

        <li>
          <%= link_to "Muebles", controller: "pages", action: "home", anchor: "portfolio" %>
        </li>

        <li>
          <a href='#'>
            Blog
          </a>
          <ul class='dropdown'>
            <li>
              <a href='blog.html'>Blog</a>
            </li>
            <li>
              <a href='single.html'>Blog - single</a>
            </li>
          </ul>
        </li>
        
        <li>
         <%= link_to "Contacto", anchor: "contact" %>
        </li>
      </ul>
</nav>


