<section class='text-center dark' id='about'>
      <div class='centered medium'>
        <h2>
          Acerca de Glas 
        </h2>
        <p>
          <br>Diseñamos muebles que se adapten fácilmente a tu espacio, para tu hogar u oficina. <br>

          <br>Usamos únicamente vidrio templado para darle la mayor resistencia y durabilidad a tus mubles. <br>

          <br>Conceptualizamos nuestros diseños para que sean fáciles de armar y desarmar. <br>

          <br>Llámanos o mándanos un correo y tendremos tu mueble listo y a la puerta de tu casa en máximo 3 semanas.


        </p>
      </div>
</section>