<section class='white trans' id='contact'>
      <div class='centered large'>
        <div class='row-fluid'>
          <div class='col-md-4'>
            <h2>
              Contacto
            </h2>
            <p class='small'>
              Teléfono: (044-55) 49-64-87-59<br>
              <br>E-mail: glasmuebles@gmail.com<br>
            </p>

            <p class='small'>
              <br>Da click y visítanos en nuestras redes sociales:
            </p>

            <div class='social-icons'>
              <%= link_to "", "https://www.instagram.com/glasmuebles/", :target => "_blank", class: "icon fa fa-instagram" %>
              <%= link_to "", "https://www.facebook.com/glasmuebles/", :target => "_blank", class: "icon fa fa-facebook" %>
            </div>
          </div>

          <div class='col-md-8' id="float-left-contact">
            <h3>
              Mándanos un correo para pedir tus muebles.<br>
            </h3>
             <form action='https://formspree.io/glasmuebles@gmail.com' id='form' name='form' method="POST" target="_blank">

              <div class='form-group'>
                <input class='form-control' id='name' name='name' placeholder='Nombre/Compañía' type='text'>
                <span class='glyphicon glyphicon-remove form-control-feedback'></span>
              </div>
              
              <div class='form-group'>
                <input class='form-control' id='email' name='email' placeholder='E-mail' type='text'>
                <span class='glyphicon glyphicon-remove form-control-feedback'></span>
              </div>
              <div class='form-group'>
                <input class='form-control' id='phone' name='phone' placeholder='Teléfono' type='text'>
              </div>
              
              <div class='form-group'>
                <textarea class='form-control' id='message' name='message' placeholder='Mensaje'></textarea>
                <span class='glyphicon glyphicon-remove form-control-feedback'></span>
              </div>
              <input class='form-control' id='send' type='submit' value='Enviar'>
            </form>

            <p class='small' id="formspree">
              <br> Al dar click se te reenviará a formspree, no te preocupes, 
              <br>es para verificar que no eres un robot. <br>
              <br>Al acabar, formspree te reenviará de nuevo a Glas muebles.
            </p>
          </div>
        </div>
        
      </div>
</section>